---
layout: page
title: Teaching Experience
---
<div class="page-section bg-gray">
    <div class="container">
        <div class="row">
            <h3 class="section-title">
                University of Tehran (As teaching assistant)
            </h3>
        </div>
        <div class="row">
            <div class="section-body-container div-max-width">
                {% include ut_ta.html %}
            </div>
        </div>
    </div>
</div>
<div class="page-section">
    <div class="container">
        <div class="row">
            <h3 class="section-title">
                Virginia Tech (As teaching assistant)
            </h3>
        </div>
        <div class="row">
            <div class="section-body-container div-max-width">
                {% include vt_ta.html %}
            </div>
        </div>
    </div>
</div>