<div id="education-container" class="bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-1" id="education-title">
                <h3>Education</h3>
            </div>
            <div class="offset-md-2 col-md-9">
                <div class="container education">
                    <div class="card-deck">
                        <div class="row">
                            <div class="col-md-6">
                                <img class="card-img-top my-card-image rounded border" src="/assets/img/helli3_avatar.jpg" alt="Card image">
                                <div class="card-body">
                                    <h4 class="card-title">Diploma and pre-university in Mathematics and Physics</h4>
                                    <small class="card-text"> September 2011 - July 2015 </small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <img class="card-img-top my-card-image rounded border" src="/assets/img/ut_avatar.jpg" alt="Card image">
                                <div class="card-body">
                                    <h4 class="card-title">Bachelor in Computer Software Engineering</h4>
                                    <small class="card-text"> September 2015 - July 2020 </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>