<div class="page-section bg-gray">
    <div class="container">
        <div class="row">
            <h3 class="section-title">Education</h3>
        </div>
        <div class="row">
            <div class="section-body-container">
                <div class="card-deck">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <img class="img-thumbnail mx-auto card-avatar"
                                     src="{{'/assets/img/helli3_logo.jpg' | absolute_url }}" alt="Card image">
                            </div>
                            <div class="row image-description-container">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        Allameh Helli3 High School </h5>
                                    <div class="image-card-subtitle">Diploma and pre-university</div>
                                    <div class="image-card-description">
                                        Mathematics and Physics
                                    </div>
                                    <div class="image-card-description">
                                        2011 - 2015
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <img class="img-thumbnail mx-auto card-avatar"
                                     src="{{'/assets/img/ut_logo.jpg' | absolute_url }}" alt="Card image">
                            </div>
                            <div class="row image-description-container">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="https://ut.ac.ir"> University of Tehran </a> </h5>
                                    <div class="image-card-subtitle">Bachelor</div>
                                    <div class="image-card-description">
                                        Computer Software Engineering
                                    </div>
                                    <div class="image-card-description">
                                        2015 - 2020
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <img class="img-thumbnail mx-auto card-avatar"
                                     src="{{'/assets/img/vt_logo.jpg' | absolute_url }}" alt="Card image">
                            </div>
                            <div class="row image-description-container">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="https://vt.edu">
                                            Virginia Polytechnic Institute and State University </a> </h5>
                                    <div class="image-card-subtitle">PhD candidate</div>
                                    <div class="image-card-description">
                                        Computer Science
                                    </div>
                                    <div class="image-card-description">
                                        2020 - Present
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>