<div class="container mt-5 mb-5 border">
    <div class="div-max-width">
        <div class="row">
            <div class="col-lg-6">
                <img
                     src="{{ 'assets/img/ahmad.jpg' | relative_url }}" />
            </div>
            <div class="col-lg-6 border bg-gray pt-3 pb-3">
                <h3> Who is Ahmad Hossein Yazdani? </h3>
                {% include bio.md %}
                <br>
                <br>
                <div class="div-max-width read-more-container">
                    <a href="{{ '/aboutme.html' | relative_url }}"
                       class="btn btn-whatever my-btn" role="button" aria-pressed="true">
                        Read more
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>