<div class="page-section">
    <div class="container">
        <div class="row">
            <h3 class="section-title">Research Experience</h3>
        </div>
        <div class="row">
            <div class="section-body-container div-max-width">
                <div class="card-deck">
                    <div class="row div-max-width mx-0">
                        {% for experience in site.data.research.labs %}
                            <div class="col-lg-4 col-md-6">
                                <div class="row">
                                    <img class="img-thumbnail mx-auto card-avatar"
                                         src="{{'/assets/img/book.png' | absolute_url }}" alt="Card image">
                                </div>
                                <div class="row">
                                    <div class="card-body image-description-container">
                                        <h5 class="card-title">
                                            {% if experience.url %}
                                                <a href="{{ experience.url }}">
                                            {% endif %}
                                                {{experience.name}}
                                            {% if experience.url %}
                                                </a>
                                            {% endif %}
                                        </h5>
                                        <div class="image-card-subtitle">{{experience.company}}</div>
                                        <div class="image-card-subtitle"></div>
                                        <div class="image-card-description">
                                            Advisor: {{experience.advisor}}
                                        </div>
                                        <div class="image-card-description">
                                            {{experience.start_date}} - {{experience.end_date}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>