<div class="page-section bg-gray">
    <div class="container">
        <div class="row">
            <h3 class="section-title">Research Experience</h3>
        </div>
        <div class="row">
            <div class="section-body-container">
                <div class="card-deck">
                    <div class="container">
                        <div class="row">
                            <img class="img-thumbnail mx-auto card-avatar"
                                 src="{{'/assets/img/book.png' | absolute_url }}" alt="Card image">
                        </div>
                        <div class="row">
                            <div class="card-body image-description-container">
                                <h5 class="card-title">Distributed System and Storage lab</h5>
                                <div class="image-card-subtitle">Virginia Tech.</div>
                                <div class="image-card-subtitle"></div>
                                <div class="image-card-description">
                                    Advisor: Dr. Ali Butt
                                </div>
                                <div class="image-card-description">
                                    August 2020 - Present
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>