<div class="page-section">
    <div class="container">
        <div class="row">
            <h3 class="section-title">Teaching Assistance </h3>
        </div>
        <div class="row">
            <div class="section-body-container">
                <div class="card-deck">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="row">
                                <img class="img-thumbnail mx-auto card-avatar" src="{{'/assets/img/teaching.jpg' | absolute_url }}" alt="Card image">
                            </div>
                            <div class="row">
                                <div class="card-body image-description-container">
                                    <h5 class="card-title"><a href="https://cecm.ut.ac.ir/enrol/index.php?id=2543"> Programming Languages and Compilers </a> </h5>
                                    <div class="image-card-subtitle">University of Tehran</div>
                                    <div class="image-card-description">
                                        Homework organizer and course project grading TA
                                    </div>
                                    <div class="image-card-description">
                                        September 2018 - January 2019
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <img class="img-thumbnail mx-auto card-avatar" src="{{'/assets/img/teaching.jpg' | absolute_url }}" alt="Card image">
                            </div>
                            <div class="row">
                                <div class="card-body image-description-container">
                                    <h5 class="card-title"><a href="https://cecm.ut.ac.ir/enrol/index.php?id=2638"> Programming Languages and Compilers </a> </h5>
                                    <div class="image-card-subtitle">University of Tehran</div>
                                    <div class="image-card-description">
                                        Project organizer
                                    </div>
                                    <div class="image-card-description">
                                        February 2019 - July 2019
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="row">
                                <img class="img-thumbnail mx-auto card-avatar" src="{{'/assets/img/teaching.jpg' | absolute_url }}" alt="Card image">
                            </div>
                            <div class="row">
                                <div class="card-body image-description-container">
                                    <h5 class="card-title"><a href="https://cecm.ut.ac.ir/enrol/index.php?id=2809"> Formal Methods in Software Engineering </a> </h5>
                                    <div class="image-card-subtitle">University of Tehran</div>
                                    <div class="image-card-description">
                                        Both homework and project organizer
                                    </div>
                                    <div class="image-card-description">
                                        September 2019 - January 2020
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <img class="img-thumbnail mx-auto card-avatar" src="{{'/assets/img/teaching.jpg' | absolute_url }}" alt="Card image">
                            </div>
                            <div class="row">
                                <div class="card-body image-description-container">
                                    <h5 class="card-title"><a href="https://cecm.ut.ac.ir/enrol/index.php?id=3022"> Artificial Intelligence </a> </h5>
                                    <div class="image-card-subtitle">University of Tehran</div>
                                    <div class="image-card-description">
                                        Both homework and project organizer
                                    </div>
                                    <div class="image-card-description">
                                        February 2020 - August 2020
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="col-md-5">
                                <div class="row">
                                    <img class="img-thumbnail mx-auto card-avatar" src="{{'/assets/img/teaching.jpg' | absolute_url }}" alt="Card image">
                                </div>
                                <div class="row">
                                    <div class="card-body image-description-container">
                                        <h5 class="card-title"><a href="https://cecm.ut.ac.ir/enrol/index.php?id=3022"> Introduction to Software Design </a> </h5>
                                        <div class="image-card-subtitle">Virginia Polytechnic Institute and State University</div>
                                        <div class="image-card-description">
                                            Lab TA and programming assignment TA
                                        </div>
                                        <div class="image-card-description">
                                            August 2020 - present
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>