<div class="card-deck">
    <div class="row div-max-width mx-0">
        <div class="col-md-6">
            <div class="row">
                <img class="img-thumbnail mx-auto card-avatar"
                     src="{{'/assets/img/teaching.jpg' | absolute_url }}" alt="Card image">
            </div>
            <div class="row">
                <div class="card-body image-description-container">
                    <h5 class="card-title">Introduction to Software Design</h5>
                    <div class="image-card-subtitle">Virginia Tech.</div>
                    <div class="image-card-description">
                        Lab and programming assignments TA
                    </div>
                    <div class="image-card-description">
                        August 2020 - December 2020
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <img class="img-thumbnail mx-auto card-avatar"
                     src="{{'/assets/img/teaching.jpg' | absolute_url }}" alt="Card image">
            </div>
            <div class="row">
                <div class="card-body image-description-container">
                    <h5 class="card-title">Intermediate Software Design and Engineering</h5>
                    <div class="image-card-subtitle">Virginia Tech.</div>
                    <div class="image-card-description">
                        Assignments' TA
                    </div>
                    <div class="image-card-description">
                        January 2021 - May 2021
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>