<div class="card-deck">
    <div class="row mx-0 div-max-width">
        {% for experience in site.data.ta.vt %}
        <div class="col-md-6 col-lg-6">
            <div class="row">
                <img class="img-thumbnail mx-auto card-avatar"
                     src="{{'/assets/img/teaching.jpg' | absolute_url }}" alt="Card image">
            </div>
            <div class="row">
                <div class="card-body image-description-container">
                    <h5 class="card-title">{{ experience.course_title }}</h5>
                    <div class="image-card-subtitle">Virginia Tech.</div>
                    <div class="image-card-description">
                        {{ experience.role }}
                    </div>
                    <div class="image-card-description">
                        {{ experience.start_date }} - {{ experience.end_date }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>